// Root background color for the whole app
$appBackground: #111111;

$surface: #222;
$surfaceDisabled: #191919;
$surfaceLight: #333;
$surfaceLightDisabled: #292929;

$primary: #f66828;
$secondary: #f35f5f;

$incorrectStart: #f35f5f;
$incorrectEnd: #933030;

$partialStart: #734790;
$partialEnd: #49295e;

$correctStart: #80ff80;
$correctEnd: #359235;

$textPrimary: #ffffff;
$textSecondary: #cccccc;

$startingStart: #467dc5;
$startingEnd: #1b398b;
